In [1]:
print("conceptual session ")

conceptual session

In [2]:
import numpy as np
import pandas as pd 

data={
    "room_size":[500,1000,1500,2500],
    "Bsth_size":[40,60,100,120]
}

df=pd.DataFrame(data)
df

   room_size  Bsth_size
0        500         40
1       1000         60
2       1500        100
3       2500        120

In [4]:

covarience_mat=np.cov(df,rowvar=False)
covarience_mat

array([[729166.66666667,  30000.        ],
       [ 30000.        ,   1333.33333333]])

In [5]:
print(type(covarience_mat))

<class 'numpy.ndarray'>

In [6]:
eigen_values,eigen_vector=np.linalg.eig(covarience_mat)

print(eigen_values)

print(eigen_vector)

[7.30401120e+05 9.88802184e+01]
[[ 0.99915448 -0.04111365]
 [ 0.04111365  0.99915448]]